<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>

      <form [formGroup]="form">

        <!--User-->
        <ion-item>
          <ion-label position="floating">Utente *</ion-label>
          <ion-input formControlName="login"></ion-input>
        </ion-item>

        <!--Password-->
        <ion-item>
          <ion-label position="floating">Password *</ion-label>
          <ion-input formControlName="password" [type]="passwordType"></ion-input>
          <ion-icon (click)="togglePasswordInputType()" slot="end" class="ion-align-self-end" [name]="passwordIcon">
          </ion-icon>
        </ion-item>

        <!--DB-->
        <ion-item>
          <ion-label position="floating">Database *</ion-label>
          <ion-input formControlName="db"></ion-input>
        </ion-item>

        <!--URL-->
        <ion-item>
          <ion-label position="floating">URL *</ion-label>
          <ion-input formControlName="url"></ion-input>
        </ion-item>

        <!--Submit-->
        <ion-button [disabled]="!form.valid" (click)="onSubmit()" expand="block">Login</ion-button>


      </form>

  </ion-list>


</ion-content>